.account-info {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 600px;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 50px;
  max-width: 400px;
}
