%drawer {
  position: fixed;
  top: 62px;
  bottom: 0;
  width: 60vw;

  background-color: #171b1f;
  opacity: 0;

  transition: all 0.2s linear;

  &.active {
    opacity: 1;

    transform: translateX(0);
  }

  @media screen and (max-width: 400px) {
    width: 100vw;
  }
}

.drawer--left {
  left: 0;

  transform: translateX(-60vw);

  @extend %drawer;
}

.drawer--right {
  right: 0;

  transform: translateX(60vw);

  @extend %drawer;
}
