.backdrop {
  position: fixed;
  top: 62px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  display: none;

  &.active {
    display: block;
  }
}

.nav-menu {
  position: fixed;
  top: 62px;
  left: 0;
  width: 50vw;
  height: 100vh;
  display: none;

  background-color: black;

  &.active {
    display: flex;
    flex-flow: column nowrap;
  }
}
