.user-status {
  display: flex;
  align-items: center;
  margin: 0 10px;

  .btn {
    color: #ffffff;
    font-size: 17px;

    margin-right: 10px;

    background: none;
    border: none;
    cursor: pointer;
  }
}
