.note {
  flex: 1 1 324px;
  margin: 10px;

  @media screen and (max-width: 768px) {
    flex-grow: 1;
  }
}

.note__title {
  font-weight: bold;
  font-size: 19px;

  margin-top: 20px;
  margin-bottom: 10px;
}

.note__hr {
  margin: 0;
}

.note__controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 110px;
}
