@import "../../../styles/variables.scss";

.todo {
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  margin: 20px auto;
  justify-content: space-between;

  box-shadow: 0 8px 8px $lightShadow;
}

.todo__title {
  font-weight: bold;
}

.todo__controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: center;
  flex: 0 0 110px;
}
