@import "../../styles/variables.scss";

.user-menu {
  position: fixed;
  top: 62px;
  right: 19px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;

  background-color: $darkBlue;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .btn {
    color: #ffffff;

    background: none;
    border: none;
    cursor: pointer;
  }
}
