@import "../../styles/variables.scss";

.user-menu {
  position: fixed;
  top: $headerHeight;
  right: 19px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 100;

  background-color: $darkBlue;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 8px 8px $lightShadow;

  .btn {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;

    margin: 5px;
    padding: 5px;

    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: $mediumBlue;
    }
  }
}
